GOOGLE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbwNLpb16-rd0kpd_tAg4xc_DWZ3y4xcqbjcPUmmt72fDh1QCPF27xMiwBxAFl2Suxws/exec
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_SHEET_NAME=Sheet1
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=prajapatiaryan3103@gmail.com
SMTP_PASS=hwaw rmvy wpad tynf
SMTP_FROM=prajapatiaryan3103@gmail.com
SMTP_TO=prajapatiaryan3103@gmail.com
